
/* basic elements */
html {
    margin: 0;
    padding: 0;
    }
body { 
    font: 100% Arial, sans-serif;
    line-height: 1.88889;
    color: #555753; 
    margin: 0; 
    padding: 0;
    }
p { 
    margin-top: 0; 
    text-align: justify;
    }
h1 {
    font: italic normal 2.0em georgia, Times New Roman, serif;
    letter-spacing: 1px;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #7D775C;
}

h2,h3 { 
    font: italic normal 1.4em georgia, Times New Roman, serif;
    letter-spacing: 1px; 
    margin-top: 1em;
    margin-bottom: 1em; 
    color: #7D775C;
    }
a:link { 
    font-weight: bold; 
    text-decoration: none; 
    color: #B7A5DF;
    }
a:visited { 
    font-weight: bold; 
    text-decoration: none; 
    color: #D4CDDC;
    }
a:hover, a:active { 
    text-decoration: underline; 
    color: #9685BA;
    }
acronym {
    border-bottom: none;
    }

pre {
    border-right: 5px solid #eeeeee;
    padding: 15px 0 15px 15px;
    }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header {
    text-align: right;
    margin: 1em 0 1em 0;
}

#header img {
    display: inline;
    margin: 0;
}

#contact-front iframe {
    margin: 0;
}

#content { 
    padding: 0 175px 0 110px;  
    margin: 0; 
    position: relative;
    }

#toc ul {
    padding-left: 0;
    margin-left: 0;
}

#toc li {
    display: inline;
    list-style-type: none;
}

#toc li:after {
    content: "/";
}

#toc li:last-child:after {
    content: "";
}

ul.index-links {
    padding-left: 0;
    margin-left: 0;
}

ul.index-links li {
    list-style-type: none;
}

.left {
    float: left;
    width: 70%;
}

.right {
    float: right;
    width: 30%;
}

.due {
    font-size: 80%;
    margin: 0 1em 0 1em;
}

#logo {
    font-size: 250%;
    font-weight: bold;
    letter-spacing: 1px;
}

#contact-front p {
    text-align: left;
}

