<html>
    <head>
        <title>{{ page.title }} / CSE 230</title>
        <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/css/screen-code-style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" />
        <link rel="stylesheet" href="/css/print-code-style.css" type="text/css" media="print" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-23971505-1']);
            _gaq.push(['_setDomainName', '.artifice.cc']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
         </script>
    </head>
    <body>
        <div id="content">
            <div id="header">
                <a href="/">Home</a> &nbsp; &nbsp;
                <a href="http://piazza.com">Piazza</a> &nbsp; &nbsp;
                <a rel="nofollow" href="http://www.google.com/talk/service/badge/Start?tk=z01q6amlqlg7kp12a4mqolh0g8btlk39j7mmkg6borm4unn1veluvfdd6oirqdjn006fsb4gm8aoi99k43om4e6aivs0iahaas02jmg912qqferrcsqdn7ssud9l7iiiobiqbvkes9diokjvn9et76rrvr15q2gsiqpt07q86" target="_blank" title="Click here to chat with Josh">Chat with Josh</a><img style="padding:0 4px 0 4px;margin:0;border:none" src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqlg7kp12a4mqolh0g8btlk39j7mmkg6borm4unn1veluvfdd6oirqdjn006fsb4gm8aoi99k43om4e6aivs0iahaas02jmg912qqferrcsqdn7ssud9l7iiiobiqbvkes9diokjvn9et76rrvr15q2gsiqpt07q86&amp;w=9&amp;h=9" alt="" height="9" width="9"><img style="padding:0 0 0 0;margin:0;border:none" src="http://www.google.com/talk/service/resources/chaticon.gif" alt="" height="14" width="16">
            </div>

            <h1>{{ page.title }}</h1>

            {{ content }}

<div style="margin-top: 40px;">
<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">CSE 230 material</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://cse230.artifice.cc" property="cc:attributionName" rel="cc:attributionURL">Joshua Eckroth</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
</div>
        </div>
    </body>
</html>

