<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/css/screen-code-style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" />
        <link rel="stylesheet" href="/css/print-code-style.css" type="text/css" media="print" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-23971505-1']);
            _gaq.push(['_setDomainName', '.artifice.cc']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
         </script>
    </head>
    <body>
        <div id="content">
            {{ content }}

<div style="clear: both; font-size: 80%;">
<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">CSE 230 material</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://cse230.artifice.cc" property="cc:attributionName" rel="cc:attributionURL">Joshua Eckroth</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
</div>
        </div>
    </body>
</html>

